* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 0.05fr 1fr 2fr 0.1fr;
}

nav {
    align-content: space-evenly;
    position: relative;
    position: sticky;
    top: 0px;
    z-index: 9999; 
    background-color: rgb(246, 235, 216);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.574);;
    display: grid;
}

.navul {
    display: flex;
    justify-content: space-around;
    margin: auto;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

li > a:link {
    color: dimgray;
}

li > a:hover {
    color: rgb(165, 163, 163);
}

li > a:active {
    color: rgb(35, 34, 34);
}

li > a {
    text-decoration: none;
}

header {
    height: 500px;
    background-image: url("/asset/header1.jpg");
    filter: brightness(50%);
    background-size: cover;
    background-color: black;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-attachment: scroll;
}

header:hover {
    filter: brightness(100%);
}

header:hover .welcome{
    transition: 1s;
    transition-delay: 0.2s;
    transform: scale(2);
}

.nameheader {
    visibility: hidden;
    opacity: 0;
    color: rgb(33, 83, 24);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: rgb(187, 194, 179) 3px 3px;
    background-color: rgb(246, 235, 216);
    margin-bottom: 1rem;
}

header:hover .nameheader {
    visibility: visible;
    opacity: 1;
    transition: 1s;
    transition-delay: 1s;
}

.crop-profpic {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profpic {
  margin: 0;
  margin-top: -20px;
  height: auto;
  width: 100%;
  size: 50px;
}

.welcome {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    text-shadow: rgb(137, 169, 84) 3px 3px;
    
}

main:hover {
    transition: ease 1s;
    background-color: rgb(61, 61, 61);
}

main:hover .linksocialmedia img {
    transition: ease 1s;
    transition-delay: 0.2s ;
    opacity: 1;
}

main {
    background-color: rgb(246, 235, 216);
    display: flex;
    flex-direction: column;
    transition: ease 1s;
    justify-content:space-evenly;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(246, 235, 216);
}

.profileinfo, .socialmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-size: xx-large;
}

table, td, .title {
    padding: 1rem 5rem;
}

.left {
    font-weight: bold;
}

.linksocialmedia {
    width: 80rem;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.linksocialmedia img {
    width: 5rem;
    background-color: antiquewhite;
    border-radius: 1rem;
    opacity: 0;
}

footer {
    background-color: rgb(65, 148, 95);
}

.copyright {
    text-align: center;
    color: rgb(37, 37, 37);
    margin: 15px auto;
}
